@model IEnumerable<autoOffice.Models.Leave>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function showhideall() {
        if ($("#div-all-leaves").css("display") == "none") {
            $("#a-show-all-leaves").find("button").first().text("Hide-All");
            $("#div-all-leaves").css("display", "block");
        }
        else {
            $("#a-show-all-leaves").find("button").first().text("Show-All");
            $("#div-all-leaves").css("display", "none");
        }
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Apply leave</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               <span >@ViewBag.userName you have</span> <span style="color:green; font-size:large">@ViewBag.Hours</span> <span> hours left</span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>
                    <a href="/autoAdmin/Leave/Create">
                        <button type="button" class="btn btn-primary" href="/autoAdmin/Leave/Create">Create</button>
                    </a>
                     | <a id="a-show-all-leaves" onclick="showhideall()"><button type="button" class="btn btn-info" href="/autoAdmin/Leave/Create">Show-All</button></a>
                </p>
                <div class="dataTable_wrapper" id="div-all-leaves" style="display:none">

                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Hours)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FromDate)
                                </th>
                                <th>
                                    Applicant 
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Comments)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Approver)
                                </th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hours)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comments)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Approver)
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
                                        
                                            @if (item.status == autoOffice.Models.LeaveApproveStatus.Pending) 
                                            {
                                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                            }
                                            else
                                            {
                                                <p>finished</p>
                                                    
                                            }   
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

