@model IEnumerable<autoOffice.Models.Leave>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function showRejectDiag(id) {
        $("#dialog").dialog({
            modal: true,
            buttons: {
                submit: function () {
                    comments = $("#dialog").find("textarea").first().val()
                    debugger
                    alert(comment)
                    alert(id)
                    $( this ).dialog( "close" );
                }
            }
        });
        $("#dialog").find("textarea").first().val("")
    }
</script>


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Waiting-List</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                approve or declined leave request from your team
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
               
                <div class="dataTable_wrapper">

                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Hours)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FromDate)
                                </th>
                                <th>
                                    Applicant 
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Comments)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Approver)
                                </th>
                                
                                <th>
                                    Status
                                </th>
                                @*<th>
                                    Approve Commonts
                                </th>*@
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hours)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comments)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Approver)
                                    </td>
                                    
                                    <td>
                                        @*@if (item.status == 0) { Html.DisplayText("aaaaa"); } else { Html.Display("bbb"); }*@
                                        <img src="~/Images/approve/@item.status-status.gif" alt="" />
                                    </td>
                                    @*<td>
                                        <input type="text" class="form-control" placeholder="can be empty" id="ApproveComment" name="ApproveComment" data-valmsg-for="ApproveComment" data-val="true" />
                                    </td>*@
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                                        @Html.ActionLink("Reject", "Reject", new { id = item.ID })<br/>
                                        <a href="/autoAdmin/Leave/Approve/@item.ID">
                                            <button type="button" class="btn btn-outline btn-success btn-xs">Approve</button>
                                        </a>
                                        <button type="button" class="btn btn-outline btn-danger btn-xs" onclick="showRejectDiag('@item.ID')">Reject</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div id="dialog" title="reject" style="display:none">
    <span>comments:</span><br/><textarea id="comment" style="width:100%"></textarea>
</div>