@model autoOffice.Models.Employee
<script type="text/javascript">
$(document).ready(function () {
    $('#LeaveReportTo').addClass('form-control');
    $("#Name").blur(function () {
        var userName = $("#Name").val()
        $.post("doesUserExist", { userName: userName }, function (result) {
            if (result) {
                $("#validNameCheckMessageSpan").css('color', 'red');
                $("#validNameCheckMessageSpan").text("User already exist");
                $("#btnCreateuserSubmit").attr('disabled', 'disabled');
            }
            else {
                $("#validNameCheckMessageSpan").css('color', 'green');
                $("#validNameCheckMessageSpan").text("No existing user, good for new regiest");
                $("#btnCreateuserSubmit").removeAttr('disabled');
            }
        });
        
    });
});

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Create</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                create new employee info
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                    @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                            <fieldset>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="text-box single-line form-control" id="Name" name="Name" type="text" value="">
                                    <span id="validNameCheckMessageSpan"></span>
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                                <div class="form-group">
                                    <label>Mail</label>
                                    <input class="text-box single-line form-control" id="MailAddress" name="MailAddress" type="text" value="">
                                    @Html.ValidationMessageFor(model => model.MailAddress)
                                </div>
                                <div class="form-group">
                                    <label>Dep</label>
                                    <input class="text-box single-line form-control" id="Department" name="Department" type="text" value="">
                                    @Html.ValidationMessageFor(model => model.Department)
                                </div>
                                <div class="form-group">
                                    <label>Report-to</label>
                                    @Html.ListBoxFor(model => model.LeaveReportTo, (SelectList)ViewBag.LeaveReportTo, new { style = "width: 200px;" })
                                </div>
                                <p>
                                    <input id="btnCreateuserSubmit" type="submit" value="Create" class="btn btn-default" />
                                </p>
                                </fieldset>
                    }
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <p>
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

