@model autoOffice.Models.Employee
<script type="text/javascript">
$(document).ready(function () {
    $("#Name").addClass('form-control');
    $("#MailAddress").addClass('form-control');
    $("#Department").addClass('form-control');
    $("#LeaveReportTo").addClass('form-control');
});
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Employee Edit</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label></label>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @Html.HiddenFor(model => model.ID)
                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.Name)</label>
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.MailAddress)</label>
                            @Html.EditorFor(model => model.MailAddress)
                            @Html.ValidationMessageFor(model => model.MailAddress)
                        </div>
                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.Department)</label>
                            @Html.EditorFor(model => model.Department)
                            @Html.ValidationMessageFor(model => model.Department)
                        </div>
                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.LeaveReportTo)</label>
                            @Html.DropDownListFor(model => model.LeaveReportTo, (SelectList)ViewBag.LeaveReportToShow, new { style = "width: 200px;" })
                        </div>
                        <p>
                            <input type="submit" value="Save" class="btn btn-default" />
                        </p>
                    </div>


                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <p>
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
}
