@model IEnumerable<autoOffice.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{if(ViewBag.hasAccess==false){
  <p>Only admin user can list all employee, Access deny</p>
  }else{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="width:200px">
            @Html.DisplayNameFor(model => model.MailAddress)
        </th>
        <th style="width:100px">
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th style="width:200px">
            @Html.DisplayNameFor(model => model.LeaveReportTo)
        </th>
        <th>Operation</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveReportName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

  }}
